-content_for(:head) do
  =javascript_include_tag :ckeditor
-semantic_form_for @mailing do |form|
  -form.inputs do
    =form.input :send_emails_after_save, :as => :hidden, :value => false
    =form.input :name, :label => "Reference"
    =form.input :from
    =form.input :subject
    =form.input :html_body, :as => :ck_text, :label => "Body"
  -form.buttons do
    =form.commit_button "Save as draft"
    =form.commit_button "Send", :button_html => {:onclick => "$('#mailing_send_emails_after_save').val('true');return true"}