-no_content_row
-hidden_title @activity

.row
  .threecol 
    =image_for(@activity, "300x")
  .ninecol.last
    %h1=@activity
    -if @organisation
      %span 
        with
        =link_to_self(@organisation)
      %br.clear
      %br.clear
    =read_more_truncate(@activity.description, :length => 1200)
    -if @organisation
      .subrow
        %hr
        %h4 When can you help out?
        =render("time_slots/table", :time_slots => @activity.time_slots.organisation_id_is(@organisation.id).ascend_by_starts_at)
    -if !@other_activities.blank?
      .subrow
        %hr
        %h4="#{@activity.activity_type=='anytime' ? "Other things you can do anytime anywhere" : "Other things you can do here"}"
        .activity_grid.small_activity_grid
          -@other_activities.each do |activity|
            -link_to(@organisation ? organisation_activity_path(@organisation, activity) : activity, :class => "activity") do
              =image_for(activity, "147x147#")
              .label=activity
-if @organisation.nil? && @activity.activity_type=="volunteering"
  #activity_search_row.row
    .fivecol.last
      %h4 Find somewhere to do this activity
      =text_field_tag :postcode, params[:postcode], :class => "labelify fl", :title => "e.g. SW1 2BJ", :onkeypress => "if (event.keyCode==13) {ActivityMap.findPostCode('#{@activity.id}');} else {return true;}"
      =link_to_function("Go", "ActivityMap.findPostCode('#{@activity.id}')", :class => "bttn_l")
      =image_tag("ajax_loader_squares.gif", :id => "activity_map_loader", :style => "display:none")
      %br.clear
      or
      =link_to_function("Find me automatically", "ActivityMap.findMe('#{@activity.id}')")
      #address_not_found
        Unknown location
  #activity_search_results.row
    .fourcol
      =google_map(@activity.time_slots.group_by_organisation.collect(&:organisation), :width => "100%", :height => 300, :version => "3.5", :marker_options => {:click => true}, :auto_bounds => true)
    .eightcol.last
      #organisation_panel
        -if @panel_organisation
          =render("activities/organisation_panel", :activity => @activity, :organisation => @panel_organisation)
        -else
          %p.no_results Sorry, we couldn't find anywhere for you to do this activity.
          -if !Activity.anytime.empty?
            %h4 See our anytime, anywhere 'Spots of Time' 
            .activity_grid.small_activity_grid
              -Activity.anytime.limit(5).each do |activity|
                -link_to(activity, :class => "activity") do
                  =image_for(activity, "147x147#")
                  .label=activity
        
.row
  .twelvecol
    =options_panel(@activity)