-no_content_row
-hidden_title @activity

.row
  .threecol 
    =image_for(@activity, "300x")
  .ninecol.last
    %h1=@activity
    -if @organisation
      %span 
        with
        =link_to_self(@organisation)
      %br.clear
      %br.clear
    =read_more_truncate(@activity.description, :length => 1200)
-if @organisation
  .row
    .threecol
    .ninecol.last
      %hr
      %h4 When can you help out?
      =render("time_slots/table", :time_slots => activity.time_slots.organisation_id_is(organisation.id).ascend_by_starts_at)
  -unless @other_activities.blank?
    .row
      .threecol
      .ninecol.last
        %hr
        %h4 Other things you can do here
        .activity_grid.small_activity_grid
          -@other_activities.each do |activity|
            -link_to(organisation_activity_path(@organisation,activity), :class => "activity") do
              =image_for(activity, "147x147#")
              .label=activity
-else
  #activity_search_row.row
    .fourcol.last
      %h4 Find somewhere to do this activity
      =text_field_tag :postcode, params[:postcode], :class => "labelify fl", :title => "e.g. SW1 2BJ"
      =link_to_function("Go", "ActivityMap.findPostCode()", :class => "bttn_l")
      %br.clear
      or
      =link_to_function("Find me automatically", "ActivityMap.findMe()")
  #activity_search_results.row
    .fourcol
      =google_map(@activity.time_slots.group_by_organisation.collect(&:organisation), :width => "100%", :height => 300, :version => "3.5", :marker_options => {:click => true}, :auto_bounds => true)
    .eightcol.last
      #organisation_panel
        No results here
        
.row
  =options_panel(@activity)