-content_for :head do
  :javascript
    $(document).ready(function(){
      $('.feature_panel_right').cycle({
        fx: 'scrollHorz',
        speed: 'slow',
        timeout: 8000,
        easing: 'easeOutQuint',
        pager: '#feature_panel_nav',
        before: function(currSlideElement, nextSlideElement, options, forwardFlag) {
          var slideNum = $(nextSlideElement).attr("data-slide-num");
          $(".feature_panel_info").hide();
          $("#feature_panel_info_" + slideNum).fadeIn();
          console.log(slideNum);
        }
      });
    });
-no_content_row
-hidden_title "Spots of Time"
#feature_panel_row.row
  .twelvecol
    .feature_panel_left
      %h3 How this works
      #feature_panel_info_1.feature_panel_info
        1. Select an activity
      #feature_panel_info_2.feature_panel_info
        2. Choose a date and time
      #feature_panel_info_3.feature_panel_info
        3. Turn up and make a difference!
      #feature_panel_nav
    .feature_panel_right
      =holding_image("626x200!", "data-slide-num" => 1)
      =holding_image("626x200!", "data-slide-num" => 2)
      =holding_image("626x200!", "data-slide-num" => 3)
.row
  .twelvecol.last
    -if !Activity.anytime.empty?
      #activity_filter
        %span Filter by
        =link_to_function("All", "ActivityFilter.filter('all')", :id => "activity_filter_all", :class => "active")
        =link_to_function("Volunteering", "ActivityFilter.filter('volunteering')", :id => "activity_filter_volunteering")
        =link_to_function("Anytime anywhere", "ActivityFilter.filter('anytime')", :id => "activity_filter_anytime")
  .twelvecol
    .activity_grid
      -Activity.all.each do |activity|
        -link_to(activity, :class => "activity type_#{activity.activity_type}") do
          =image_for(activity, "124x124#")
          .label=activity
.row
  .ninecol
    %h2 Blog
    -if Blog.first && post = Blog.first.posts.latest.first
      %p
        %strong
          =link_to(post.title, post)
      %p=post.created_at.strftime("%d %B %Y")
      =simple_format(strip_tags(post.text.word_truncate(250)))
      =link_to('More', post)
  .threecol.last