-content_for :head do
  :javascript
    $(document).ready(function(){
      $('.cycle').cycle({
        fx: 'scrollHorz',
        speed: 'slow',
        timeout: 8000,
        easing: 'easeOutQuint',
        pager: '.cycle_nav',
        next: '.cycle_next',
        prev: '.cycle_prev'
      });
    });
-no_content_row 
.row
  .twelvecol
    .activity_grid
      -Activity.all.each do |activity|
        -link_to(activity, :class => "activity") do
          =image_for(activity, "180x180#")
          .label=activity
.row
  .ninecol
    %h2 Blog
    -if Blog.first && post = Blog.first.posts.latest.first
      %p
        %strong
          =link_to(post.title, post)
      %p=post.created_at.strftime("%d %B %Y")
      =simple_format(strip_tags(post.text.word_truncate(250)))
      =link_to('More', post)
  .threecol.last