-content_for :head do
  :coffeescript

    $ ->

      ActivityFilter.filter('volunteering')
    
      $('.feature_panel_right').cycle
        fx: 'scrollHorz',
        speed: 'slow',
        timeout: 0,
        easing: 'easeOutQuint',
        pager: '#feature_panel_nav',
        before: (currSlideElement, nextSlideElement, options, forwardFlag) ->
          slideNum = $(nextSlideElement).attr 'data-slide-num'
          $('.feature_panel_info').hide()
          $('#feature_panel_info_' + slideNum).fadeIn()

-no_content_row
-hidden_title "Spots of Time"
.row.headline
  .twelvecol
    We make it easy for you to do fun, inspiring &amp; bite-size activities to benefit people in your community.
#feature_panel_row.row
  .twelvecol
    .feature_panel_left
      #feature_panel_info_1.feature_panel_info
        %h3 Got a moment?      
        %p We’ve created a range of fun, bite-size activities that you can do in your local community.  It's easy to get involved and there's no long term commitment.
      -if false
        #feature_panel_info_2.feature_panel_info
          %h3 Help us grow
          %p Suggest 'Spots of Time' to organisations in your area and make it easy for people to give their time to benefit the community.
      -if @blog_post
        #feature_panel_info_2.feature_panel_info
          %h3=link_to_self @blog_post
          %p=strip_tags @blog_post.text.word_truncate(150)
      -else
        #feature_panel_info_2.feature_panel_info
          %h3 Anytime anywhere
          Start changing your corner of the world with our simple anytime anywhere ideas that will bring a smile to you and those around you.
      #feature_panel_nav
    .feature_panel_right
      =image_tag("how-it-works-user.jpg", "data-slide-num" => 1)
      =#image_tag("how-it-works-org.jpg", "data-slide-num" => 2)
      -if @blog_post.try(:has_photo?)
        #feature_panel_blog_photo_wrapper{'data-slide-num' => 2}
          =photo_for(@blog_post, '626x200')
      -else
        =image_tag("feature-panel.jpg", "data-slide-num" => 2)
.row.headline.find
  .twelvecol
    Find an activity
  .sixcol.info
    Find something you'd like to do in our selection below and click through to book. 
  .sixcol.last.activity
    -if !Activity.anytime.empty?
      #activity_filter
        %span Filter activities by:
        =#link_to_function("All", "ActivityFilter.filter('all')", :id => "activity_filter_all", :class => "active")
        =link_to_function("Volunteering", "ActivityFilter.filter('volunteering')", :id => "activity_filter_volunteering", :class => 'active')
        =link_to_function("Anytime anywhere", "ActivityFilter.filter('anytime')", :id => "activity_filter_anytime")
  .twelvecol
    .activity_grid
      -@activities.each do |activity|
        -link_to(activity, :class => "activity type_#{activity.activity_type}") do
          =image_for(activity, "124x124#")
          .label=activity
