#footer_links
  %p#copyright
    %strong
      \&copy; 2010 The Green Machine
    %br
    Electric Works
    %br
    Sheffield Digital Campus
    %br
    Sheffield
    %br
    S1 2BJ
    
  =link_to("site by", "http://www.yoomee.com", :id => "siteby")
  %ul
    - if admin_logged_in?
      %li
        -link_to(admin_path) do
          %strong
            admin
    %li
      =link_to("legal", "#")
    %li
      =link_to("another link", "#")