%h1#site_logo
  = link_to 'The Green Machine', :home
#user_links
  - if logged_in?
    = link_to 'Logout', session_path, :method => :delete
    =link_if_allowed 'Admin', admin_proc
    %strong
      =link_to_self(@logged_in_member)
  - else
    %p
      = link_to 'login', '#', :id => 'member_login_bttn' unless current_page?(new_session_path)