#nav
  %ul
    %li#nav_link_1
      =link_to "Home", "/"
    %li#nav_link_2
      =link_to_slug('About us', :about)
    %li#nav_link_3
      =link_to_slug('Our work', :our_work)
    %li#nav_link_4
      =link_to "Blog", "/"
    %li#nav_link_5
      =link_to "Contact us", "/"
    =li_with_active_slug(:organisations, link_to_slug("Organisation signup", :organisations), :id => "nav_organisations")