#nav
  %ul
    %li.active
      =link_to "Home", "/"
    %li=link_to_slug('About us', :about_us_2)
    %li=link_to_slug('Our work', :our_work)
    %li=link_to "Blog", "/"
    %li=link_to "Contact us", "/"
