-semantic_form_for(organisation, :html => {:multipart => true}) do |form|
  -form.inputs do
    =form.input :member, :as => :select if organisation.new_record? && admin_logged_in?
    =form.input :name
    =form.input :description, :input_html => {:rows => 3}
    =form.input :image, :as => :image
  -form.semantic_fields_for(:location) do |location_form|
    -location_form.inputs :class => "organisation_address_fields" do
      %li
        %label Address of organisation
      =location_form.input :address1, :label => false, :input_html => {:class => "labelify", :title => "Address 1"}
      =location_form.input :address2, :label => false, :input_html => {:class => "labelify", :title => "Address 2"}
      =location_form.input :city, :label => false, :input_html => {:class => "labelify", :title => "City"}
      =location_form.input :postcode, :label => false, :input_html => {:class => "labelify", :title => "Postcode"}
      =location_form.input :lat, :as => :hidden, :input_html => {:id => "organisation_lat"}
      =location_form.input :lng, :as => :hidden, :input_html => {:id => "organisation_lng"}
  #organisation_map
    %label
      You can drag the marker below to specify the location of your organisation.
      -location = organisation.has_lat_lng? ? organisation : Location.new(:lat => Location::DEFAULT_CENTER[0], :lng => Location::DEFAULT_CENTER[1])
    =google_map(location, :marker_options => {:draggable => true, :dragend => "function() {OrganisationForm.saveLatLng('#{organisation.id}');}"})
  -form.inputs do
    =form.input :group, :label => "Which groups?", :as => :select, :collection => ["Group 1", "Group 2", "Group 3"], :include_blank => false, :wrapper_html => {:class => "inline-fields"}
    =form.input :group_specific_needs, :label => "Groups with specific needs:"
    =form.input :num_weeks_notice, :label => "How much notice do you need?", :as => :select, :collection => [["1 week", 1], ["2 weeks", 2]], :include_blank => false, :wrapper_html => {:class => "inline-fields"}
    =form.input :volunteers_insured, :label => "Are volunteers covered under your insurance?"
    =#form.input :require_crb, :label => "Do you require CRB checks?"
    =form.input :terms, :label => "What are your terms and conditions?", :input_html => {:rows => 5}
  -form.buttons do
    =form.commit_button "Submit"