-title @organisation_group ? "Organisations in the #{@organisation_group} group" : "Organisations"
%ul.lst
  -@organisations.each do |organisation|
    %li
      =link_to_self(organisation)
      -unless organisation.active?
        %span.organisation_status 
          ="(#{organisation.status})"

-options_panel do
  =back_link
  -if @organisation_group
    =link_to("New organisation in this group", new_organisation_group_organisation_path(@organisation_group))
  -else
    =link_to("New organisation", new_organisation_path)
