-title "Organisations"
%ul.lst
  -@organisations.each do |organisation|
    %li
      =link_to_self(organisation)
      -unless organisation.active?
        %span.organisation_status 
          ="(#{organisation.status})"

=options_panel([Organisation.new])