-content_for :head do
  :javascript
    $(document).ready(function() {
      ActivityFilter.initDatepicker({
        defaultDate: '#{params[:date]}',
        numWeeksNotice: #{Organisation.minimum(:num_weeks_notice)}
      });
    });

.row.headline.find
  .twelvecol
    Find an activity
  .twelvecol.info
    %p Find something you'd like to do in our selection below and click through to book.
  .sixcol
    .activity_date_filter
      =hidden_field_tag(:activity_date_filter, params[:date])
      =link_to_function((params[:date].present? ? params[:date].gsub('-', '/') : "Filter by date"), "$(this).prev('.ui-datepicker-trigger').click()", :id => "activity_date_filter_label")
  .sixcol.last.activity
    -if !Activity.anytime.empty?
      #activity_filter
        %span Filter activities by:
        -OrganisationGroup.for_get_involved.each do |organisation_group|
          =activity_filter_link(organisation_group)
        =activity_filter_link('East London')
  .twelvecol
    .activity_grid
      -@activities.each do |activity|
        =render("activities/get_involved_activity", :activity => activity)
