%table.time_slots
  %tbody
    -TimeSlot::DAYS.each do |day|
      -time_slots.select{|ts| ts.send("#{day.to_s}?")}.each_with_index do |time_slot, idx|
        %tr
          %td
            -if idx.zero?
              %strong=day_name(day) 
          %td.time=time_slot.timespan
          %td.note
            %em=time_slot.note
          -if false
            %td.link
              =link_to("Book a date", time_slot)
=link_to 'Book me in', time_slots.first, :class => 'bttn fr'
%br.clear