-content_for(:head) do
  :javascript
    $(document).ready(function() {
      $('#starts_at_datepicker').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: (+#{@time_slot.num_weeks_notice*7}),
        onSelect: function(dateText, inst) {
          $('#time_slot_booking_starts_at').val(dateText);
        },
        beforeShowDay: function(date) {
          return [$.inArray(date.getDay(), #{@time_slot.day_integers.to_json})==-1 ? false : true, "", ""];
        }        
      });
    });
-hidden_title @time_slot

.row
  .twelvecol
    %h1.time_slot_booking_title
      =@time_slot.activity
      %span
        with
        =link_to_self(@time_slot.organisation)
    -if !@time_slot.note.blank?
      %p
        =@time_slot.note
#time_slot_booking_form.row
  .twelvecol
    %h4 Thanks for offering to help out. When's good for you?
  .fourcol
    #starts_at_datepicker
  .fourcol.last
    -semantic_form_for(@time_slot_booking) do |form|
      -form.inputs do
        =form.input :time_slot_id, :as => :hidden
        =form.input :starts_at, :as => :hidden
        =form.input :starts_at_time_string, :as => :select, :collection => @time_slot.possible_time_strings, :include_blank => false, :label => "Time:", :wrapper_html => {:class => "inline-fields"}
        %li
          %p Choose the date and time you’d like to do this and click on the button below.
        =form.commit_button "COUNT ME IN"
.row
  .twelvecol
    =google_map(@time_slot, :width => "100%", :height => 500, :version => "3.5", :infoboxes => true)

.row
  .twelvecol
    -options_panel do
      =back_link
      =link_if_allowed("Edit activity", edit_activity_proc(@time_slot.activity))
      =link_if_allowed("Edit organisation", edit_organisation_proc(@time_slot.organisation))