%table
  %tr
    %th Who
    %th What
    %th When
    %th Details
    -if time_slot_bookings.any?(&:in_past?)
      %th Attended?
    %th Options
  -time_slot_bookings.each do |booking|
    %tr
      %td=link_to_self(booking.member)
      %td=link_to(booking.activity, organisation_activity_path(booking.organisation, booking.activity))
      %td=booking.starts_at.strftime("%A %d %B %H:%M")
      %td
        -if booking.notes.present?
          .booking_details
            .details_info=booking.notes
        -booking.time_slot_answers.text_not_blank.each do |answer|
          .booking_details
            .details_name=answer.question_text
            .details_info=answer.text
      -if time_slot_bookings.any?(&:in_past?)
        %td
          ="Yes" if booking.attended?
      %td
        -separate_links do
          -if !booking.confirmed? && booking.in_future?
            =link_to_box("Confirm", confirm_time_slot_booking_path(booking))
          -if !booking.attended? && booking.in_past?
            =link_to("Confirm attended", [:confirm_attended, booking])
          =link_to_box("Remove", cancel_time_slot_booking_path(booking))
        |
        =mail_to(booking.member_email, "Send email")
        -if booking.in_past?
          |
          =link_to("Send thank you", [:new, booking, :thank_you_mail])