#cancel_time_slot_booking.time_slot_booking_confirmation_box
  %h3 Cancel spot
  %p
    This will inform
    %strong=@time_slot_booking.member
    ="that they are #{@time_slot_booking.confirmed? ? 'no longer' : 'not'} needed for this spot."
    %br
    You can include a personal message in the email that will be sent to them.
  =render("time_slot_bookings/form", :time_slot_booking => @time_slot_booking)