-no_content_row
-title "Volunteers for #{@organisation}"

-if @confirmed_time_slot_bookings.empty? && @unconfirmed_time_slot_bookings.empty?
  .row
    .twelvecol
      %p Sorry, you have no volunteers at the moment.
-else
  #unconfirmed_time_slot_bookings.row
    .twelvecol
      %h3 Unconfirmed spots
      -if @unconfirmed_time_slot_bookings.empty?
        %p=@confirmed_time_slot_bookings.empty? ? "There are no unconfirmed spots." : "All spots have been confirmed."
      -else
        =render("time_slot_bookings/table", :time_slot_bookings => @unconfirmed_time_slot_bookings)
  #confirmed_time_slot_bookings.row
    .twelvecol        
      %h3 Confirmed spots
      -if @confirmed_time_slot_bookings.empty?
        %p There are no confirmed spots.
      -else
        =render("time_slot_bookings/table", :time_slot_bookings => @confirmed_time_slot_bookings)

.row
  .twelvecol
    -options_panel do
      =back_link
      =link_to("Previous volunteers", in_past_organisation_time_slot_bookings_path(@organisation))
    