="Hi #{@recipient.forename},"

="A new organisation, called #{@organisation}, has signed up. You can view their profile here:"

=site_url + organisation_path(@organisation)

Thanks,

="The #{site_name} team"
=site_email