%p
  ="Hi #{@recipient.forename},"
%p
  ="A new organisation, called #{link_to(@organisation.name, site_url + organisation_path(@organisation))}, has signed up."
%p
  Thanks,
%p
  ="The #{site_name} team"
  %br
  =site_email