%p
  ="Hi #{@member.full_name},"
%p
  ="The #{APP_CONFIG['site_name']} website received a request to reset the password for this account."
%p
  If you would like to reset your password, use the link below. The link can be used once in the next 24 hours.
  %br
  =link_to_url(site_url + change_password_member_path(@member, :login_hash_id => @login_hash.id, :login_hash => @login_hash.hash))
%p
  ="If you have not requested this, please just ignore it and your password will stay the same."
%p
  ="If you have any queries, please contact #{APP_CONFIG['site_email']}."
%p
  Regards,
  %br
  ="The #{APP_CONFIG['site_name']} Team"