-title "Message sent"
%p
  Your message has been sent to
  =link_to time_slot_booking.member_forename, time_slot_booking.member
  thanking them for taking part.
  Click
  =link_to 'here', root_path
  to return to the homepage.