%p
  Password reset instructions have been emailed to you. If you don't receive an email in the next 20 minutes, try checking your spam.
%p
  =link_to_function("Close", "$.fancybox.close()", :class => "bttn_l")