-hidden_title @member.full_name
-no_content_row

.row
  .profile_photo.threecol
    -if logged_in_as?(@member)
      =link_to image_for(@member, '300x'), :controller => 'member', :action => 'setphoto', :id => @logged_in_member
    -else
      =image_for(@member, '300x')
  .profile_info.ninecol.last
    %h1=@member.full_name
    -if !@member.bio.blank?
      %p=@member.bio
    -if logged_in_as?(@member)
      %p=link_to_box("Edit your bio", edit_bio_member_path(@member))
    -if !@member.time_slot_bookings.starts_at_gt(Time.now).empty?
      #member_upcoming_spots
        %h3="#{forename_or_your(@member, :capitalize => true)} upcoming spots"
        -@member.time_slot_bookings.starts_at_gt(Time.now).ascend_by_starts_at.each do |booking|
          =render("members/time_slot_booking", :time_slot_booking => booking)
            
            
.row
  .twelvecol
    -options_panel do
      =back_link

