-@page_title = @section.name
-no_content_row
-if @section.slug_is?(:organisations)
  #organisation_signup_button.row
    .twelvecol
      -if logged_in?
        -text = logged_in_member.organisations.empty? ? "Signup as an organisation" : "Add another organisation"
        =link_to("#{text} &rarr;", new_organisation_path, :class => "organisation_signup_link")
      -else
        =link_to("Signup as an organisation &rarr;", signup_organisation_path, :class => "organisation_signup_link")
-unless @section.description.nil?
  .row
    #section_description.twelvecol 
      %p.section_description
        =@section.description.strip_tags
#index_view.row      
  -@pages_sections.each_with_col_name(4) do |page_section, col_name|
    .index_item.threecol{:class => "index_#{col_name}"}
      .index_img
        -if page_section.has_photo?
          =link_to(photo_for(page_section, '210x135#'), page_section)
      .index_content  
        %h2.index_title
          =link_to_self(page_section,:class => 'newsbox_title_link')
        %p.index_text
          =page_section.is_a?(Page) ? (snippet(page_section, :summary).nil? ? truncate(page_section.text.strip_tags, :length => 193) : snippet(page_section, :summary, false).strip_tags) : page_section.description.to_s.strip_tags
          =link_to "Read more", page_section, :class=>'blog_read_more'
        %p.index_read_more
.row
  .twelvecol      
  -options_panel do
    =back_link
    =link_if_allowed 'Edit section', edit_section_proc(@section)
    =link_if_allowed 'Delete', @section, :method => :delete, :confirm => "Are you sure you want to delete this section? (its subsections and pages will also be deleted)"
    =link_if_allowed "New subsection", new_section_section_proc(@section)
    =link_if_allowed 'New page', new_section_page_proc(@section)
