=title "Forgotten password"
.resend_password_box
  %p
    Please enter your email address and password reset instructions will be emailed to you.
  -form_tag "resend_password_to_member" do
    %label{:for => "email_address"}
      Email Address:
    =text_field_tag 'email_address', @email_address
    %br.clear
    =submit_tag 'Send', :id => 'login_bttn'
%br.clear
%p.problems_receiving_password
  If you are still having problems retrieving your password please 
  =link_to "click here", :controller => "enquiries", :action => "new", :id => "contact"
  to contact us.
-options_panel do
  =link_to_waypoint("Back")